html{
    font-size: 16px;
    box-sizing: border-box;
    color: #555555;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a,a:hover{
    color: rgba(255,255,255,.8);
    text-decoration: none;
}
img{
    width: 100%;
}
/*header-开始*/
header{
    background: url("../images/header-bg.jpg") center no-repeat;
    font-size: 12px;!important;
}
a:hover{
    color: white;
}
.select-lang{
    position: relative;
    height: 20px;
    margin: 15px 0;
}
.select-lang>div{
    position: absolute;
    right: 0;
    width: 120px;
    line-height: 20px;
}
.select-lang>div>a:first-child{
    border-right: 1px solid white;
    padding-right: 5px;
}
.header-content{
    display: flex;
    height: 70px;
    justify-content: space-between;
}
.logo,.search{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
}
.logo img{
    width: 65%;
    position: absolute;
    top: -30px;
    z-index: 1;
    transition: all 1s ease;
}
.menu{
    display: flex;
    justify-content: flex-end;
}
.menu li{
    margin: 0 15px;
}
.menu li:last-child{
    margin: 0;
}
.input-group{
    height: 20px;!important;
    width: 220px;
    position: absolute;
    right: 0;
    border-radius: 8px;
}
.input-group>input,
.input-group>.input-group-addon:last-child{
    height: 20px;
    padding: 0 5px;
    font-size: 12px;
}
.input-group-addon{
    background: #facd89;
    width: 25px;
    overflow: hidden;
}
.input-group-addon>img{
    width: 100%;
}
/*header-结束*/
/*nav-开始*/
body>nav{
    background: #facd89;
    height: 36px;
    position: relative;
    z-index: 1;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
}
.nav-menu li{
    /*width: 66px;*/
    transition: all .5s;
    text-align: center;
}
.nav-menu li a{
    display: block;
    line-height: 36px;
    padding: 0 20px;
    color: #006699;
}
.nav-menu>li:last-child a{
    padding-right: 0;
}
.sec-menu{
    display: none;
}

/*二级菜单的响应式*/
@media only screen and (min-width: 768px){
    .nav-menu li:hover .sec-menu{
        display: block;
    }
    .nav-menu li.lang-en{
        display: none;
    }
}
.nav-menu li:hover{
    background: #006666;
}
.nav-menu li li:hover{
    background: #09a9a9;
}
.nav-menu li:hover a{
    color: white;
}
#clickRoot .icon-bar{
    display: block;
    width: 60%;
    height: 3px;
    background: white;
    margin: 5px auto;
    border-radius: 8px;
}
#clickRoot:hover{
    opacity: .9;
}
#clickRoot{
    width: 50px;
    height: 30px;
    border-radius: 4px;
    display: none;
    outline: none;
    background: none;
    border: 0;
}
/*nav-结束*/
/*banner-开始*/
.carousel-control.left{
    background: url("../images/action-left.png") center no-repeat;
}
.carousel-control.right{
    background: url("../images/action-right.png") center no-repeat;
}
/*banner-结束*/
/*新闻&通知开始*/
.content-item:hover .title h2{
    border-bottom: 2px solid #d73142;
    color: #d73142;
}
.content-item:hover .title{
    border-bottom: 1px solid #d73142;
}
.news{
    margin: 30px auto;
}
.news a{
    color: #555555;
}
.title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #006666;
    padding: 0 15px;
    margin-bottom: 15px;
}
.more-link{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.more-link:hover a{
    color: #fc597b;
}
.title h2{
    display: block;
    border-bottom: 2px solid #006666;
    margin: 0;
    padding-bottom: 5px;
    font-size: 24px;
}
.more-link a{
    display: block;
    line-height: 30px;
    color: #555555;
}
.more-link img{
    width: 15px;
    margin: auto 0;
}
.news .row{
    margin: 0;
}
.news .col>div{
    padding: 0 15px;
}
.news-banner-con{
    padding: 0;
    height: 194px;
    overflow: hidden;
}
.news-banner-con>div{
    height: 100%;
}
/*个人轮播引用-开始*/
#wlittleyang-banner-fade {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}
#wlittleyang-banner-fade .container {
    overflow: hidden;
    transition: all 1s;
    padding: 0;
    background: #006666;
    height: 100%;
}
#wlittleyang-banner-fade .item {
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 50px;
    transition: all 2s;
    opacity: 0;
    cursor: pointer;
    padding: 0;
}
#wlittleyang-banner-fade .item:first-child {
    opacity: 1;
}
#wlittleyang-banner-fade .item img {
    height: 100%;
    transition: all 0.4s ease;
    transform-origin: center;
}
#wlittleyang-banner-fade .item:hover img{

}
#wlittleyang-banner-fade .action-btn {
    display: none;
}
#wlittleyang-banner-fade .action-btn span {
    display: inline-block;
    padding: 5px;
    margin: 15px;
    background: seagreen;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
#wlittleyang-banner-fade .action-hover {
    width: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    right: 5px;
}
#wlittleyang-banner-fade .action-hover-item {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    display: block;
    transition: 1s all  ;
    line-height: 15px;
    text-align: center;
    color: white;
}
#wlittleyang-banner-fade .action-hover-item:hover {
    cursor: pointer;
    background: rgba(0,0,0,.6);
}
/*个人轮播引用-结束*/
.news-content-list img{
    width: 15px;
}
.news-content-list>div{
    display: flex;
    overflow: hidden;
    line-height: 25px;
    transition: all 0.36s ease;
    color: #6f6f6f;
    justify-content: space-between;
    text-align: left;
}
.news-content-list>div a{
    transition: all 0.36s ease;
    color: #6f6f6f;
    text-decoration: none;
    width: 100%;
}
/*交互*/
.news-content-list>div:hover{
    padding: 0 5px;
    color: #337ab7;
}
.news-content-list>div .news-date{
    width: 110px;
    text-align: right;
}
.news-content-list>div:hover a{
    color: #337ab7;
}
.news-message{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
    width: 100%;
}
.tongzhi-content,
.tuan-content{
    display: flex;
    overflow: hidden;
    margin: 10px 0;
    transition: all 0.36s ease;
    cursor: pointer;
    box-sizing: border-box;
}
.tuan-content{
}
/*交互*/
.tongzhi-content:hover,
.tuan-content:hover{
    box-shadow: 5px 5px 5px 2px #888888,
                0 0 0 1px #006666;
    background-color: #006666;
    color: white;
}
.tongzhi-content:hover span,
.tuan-content:hover span{
    color: white;
}
.tuan-content:hover .date h3,
.tuan-content:hover .date span,
.tongzhi-content:hover .date h3,
.tongzhi-content:hover .date span{
    color: white;
}
.tongzhi-content .date,
.tuan-content .date{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tongzhi-content .date>div,
.tuan-content .date>div{
    border-right: 1px solid white;
    padding: 0 15px;
    margin: 5px auto;
}
.tongzhi-content .date h3,
.tuan-content .date h3{
    line-height: 0;
    color: #006666;
    font-size: 30px;
}

.tongzhi-content .tongzhi-message,
.tuan-content .tuan-message{
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
}

.tongzhi-content span,
.tuan-content span{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:5px 0;
    color: #555555;
}
.tuan-content .tuan-message span:last-child{
    white-space: normal;
}
.tuan-content .date{
    text-align: center;
}
.tuan-content .date h3{
    font-size: 36px;
    margin-bottom: 15px;
}
.tongzhi-content .date span,
.tuan-content .date span{
    font-size: 12px;
    color: #a6a6a6;
    text-align: center;
    padding-left: 5px;
}
.tongzhi-content span:last-child,
.tuan-content span:last-child{
    font-size: 12px;
}
/*新闻&通知结束*/
/*团学&特色-开始*/
.chara ul li{
    background-color: #009e9e;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.36s ease;
}
.chara ul li:hover{
    background-color: #fc597b;
    box-shadow: 5px 5px 5px #888888;
}
/*团学&特色-结束*/
/*学术研究-开始*/
.academic-con{
    margin: 15px auto;
}
.academic>div.col-lg-6{
    display: flex;
}
.academic p{
    color: #555555;

}
.academic>div.col-lg-6 a:first-child{
    margin-right: 30px;
}
.thumbnail .academic-img{
    height: 174px;
    width: 100%;
    overflow: hidden;
}
.thumbnail,
.thumbnail:hover,
.thumbnail .caption{
    border: 0;
    padding: 0;!important;
    margin: 0;
    overflow: hidden;
}
.thumbnail img{
    transition: all 0.4s ease;
    transform-origin: center;
}
.thumbnail:hover img{
    transform: scale(1.2);
}
.academic .caption section{
    display: flex;
    justify-content: space-between;
}
.academic .caption span{
    position: relative;
    margin: 15px 0;
    display: block;
    padding-left: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.academic-title{
    color: #006666;
}
.academic .caption .academic-title::before{
    content: "";
    width: 15px;
    height: 15px;
    background: #8a6d3b;
    position: absolute;
    left: 0;
    top: 2px;
}
.academic-date{
    width: 170px;
    text-align: right;
}
/*学术研究-结束*/
/*相关链接-开始*/
.relation-link{
    background-color: #facd89;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.relation-link a{
    color: #006666;
    width: 120px;
    text-align: center;
    display: block;
    line-height: 60px;
    transition: all 0.4s ease;
}
.relation-link a:hover{
    background: #006666;
    color: white;
}
/*相关链接-结束*/
/*页脚-开始*/
body>footer{
    padding: 30px 15px 30px 15px;
    text-align: center;
    background-color: #006666;
    color: #cccccc;
}
/*页脚-结束*/
@media only screen and (max-width: 1200px){
    .nav-menu li a{
        padding: 0 15px;
    }
}
@media only screen and (max-width: 1000px){
    .nav-menu li a{
        padding: 0 5px;
    }
    .logo img{
        top: -15%;
    }
}
@media only screen and (max-width: 800px){
    .logo img{
        top: -8%;
    }
}
@media only screen and (max-width: 768px) {
    /*bootstrap默认值修改*/
    .row > div{
        margin: 15px auto;!important;
    }
    .carousel-indicators{
        z-index: -1;!important;
    }
    /*页面头部*/
    body>header{
        height: 50px;
        position: relative;
    }
    body>header .select-lang,
    body>header .search{
        display: none;
    }
    body>header .search input{
        outline: none;
    }
    /*logo*/
    .logo img{
        margin-top: 15px;
    }
    /*导航按钮*/
    #clickRoot{
        display: block;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
    /*导航*/
    body>nav{
        height: auto;
        margin-bottom: 0;
        background: #e6e6e6;
    }
    .nav-menu li:hover{
        background: none;
    }
    .nav-menu li:hover a{
        color: black;
    }
    .nav-menu li:hover ul{
        display: none;
    }
    .nav-menu{
        flex-wrap: wrap;
        justify-content: flex-start;
        z-index: 999;
        padding: 0;
        margin-bottom: 0;
    }
    .nav-menu li{
        width: 30%;
    }
    .nav-menu li a{
        color: #777777;
    }
    /*新闻通知*/
    .news>div,
    .news .col>div{
        padding: 0;!important;
    }
    .news .row{
        margin: 0;
    }
    .banner.container{
        padding: 0;
    }
    /*相关链接*/
    .relation-link a{
        width: 100px;
    }
    .relation-link a:hover{
        background: none;
    }
}